/* CSS-Styling für das Spielfeld */

body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100vh;
}

#screen h1 {
    margin-bottom: 40px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 344px;
    height: 344px;
    margin: 0 auto;
    border: none;
    /* Äußere Umrandung entfernen */
}

td {
    width: 110px;
    height: 110px;
    text-align: center;
    font-size: 48px;
    color: white;
    border: 5px solid white;
    cursor: pointer;
}

td a {
    width: 100%;
    height: 100%;
}

td:hover{
    background-color: rgba(255, 255, 255, 0.295);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.winner-cell::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 5px;
    background-color: white;
  }

  #currentplayer{
    min-width: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 32px;
    /* border: 1px solid white; */
  }

  #game-over-screen{
    min-width: 100%;
    height: 100%;
    z-index: 11;
    background-color: #323232;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #game-over-screen p{
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #player{
    min-width: 250px;
    height: 250px;
  }

  #playAgainBtn{
    width: 150px;
    height: 50px;
    background-color: white;
    border: 4px double #323232;
    border-radius: 10px;
    cursor: pointer;
  }